/*
* //////////////////////////////////////////////////
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* U T I L I T I E S
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
* //////////////////////////////////////////////////
*/


$spaceBase: 1rem;    // Default space
$spaceHalf: .5rem;   // Half default space
$spaceMin: .25rem;   // Minimal space


@import 'utilities/_mixins';
@import 'utilities/_paddings';
@import 'utilities/_margins';
@import 'utilities/_display';
@import 'utilities/_borders';
@import 'utilities/_positions';
@import 'utilities/_sizes';