/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* P O S I T I O N S
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/


.fixed-top{
   position: fixed;
   top: 0; left: 0; right: 0;
   z-index: 999;
}

.fixed-bottom{
   position: fixed;
   bottom: 0; left: 0; right: 0;
   z-index: 999;
}