/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* S I Z E S
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/


/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* WIDTH
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@for $i from 1 through 10{
   .w-#{$i}00{
   width: #{$i * 100}px;
   }
}

@for $i from 1 through 10{
   .w-#{$i}0p{
   width: #{$i * 10%};
   }
}

@for $i from 1 through 10{
   .w-#{$i}0v{
   width: #{$i * 10}vw;
   }
}


/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* HEIGHT
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@for $i from 1 through 10{
   .h-#{$i}00{
   height: #{$i * 100}px;
   }
}

@for $i from 1 through 10{
   .h-#{$i}0p{
   height: #{$i * 10%};
   }
}

@for $i from 1 through 10{
   .h-#{$i}0v{
   height: #{$i * 10}vh;
   }
}