/*
* ==================================================
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* C A R O U S E L
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* ==================================================
*/

/*
* ––––––––––––––––––––––––––––––––––––––––––––––––––
* LIST CAROUSEL
* ––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.owl-carousel{
   background: #000;
   margin: 20px 0;
   position: relative;
}

.owl-carousel .owl-item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.owl-carousel .owl-nav{
   color: #fff;
   margin-top: 0;
   font-size: 24px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}

.owl-nav .owl-prev,
.owl-nav .owl-next{
   padding: 16px!important;
   margin: 0;
   border-radius: 0;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover{
   background: transparent;
}

.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:focus{
   outline: none;
}

.owl-theme .owl-dots .owl-dot span{
   background: #fff;
}
.owl-theme .owl-dots .owl-dot.active span{
   background: orange;
}

.owl-carousel.new::before{
   content: 'Nuova Proposta';
   display: inline-block;
   position: absolute;
   z-index: 888;
   background: $primary;
   padding: 4px;
   top: .5rem;
   left: 0;
   text-transform: uppercase;
   color: #fff;
   font-size: .8rem;
}